<app-sidebar></app-sidebar>

<section *ngIf="isDataReady; else loading">
  <article>
    <p>Dyr: {{ pageText[animalID].Name }}</p>
    <p>Type: {{ pageText[animalID].Type }}</p>
    <p>Beskrivelse: {{ pageText[animalID].Description }}</p>
    <p>Personlighed: {{pageText[animalID].Personality }}</p>
    <table>
      <tr>
        <th>Vægt Han</th>
        <th>Vægt Hun</th>
      </tr>
      <tr>
        <td>{{ pageText[animalID].WeightMaleMin }} - {{ pageText[animalID].WeightMaleMax }}</td>
        <td>{{ pageText[animalID].WeightFemaleMin }} - {{ pageText[animalID].WeightFemaleMax }}</td>
      </tr>
    </table>
    <p>Højde: {{ pageText[animalID].Height }}</p>
    <p>Hastighed: optil {{ pageText[animalID].Speed }} km/t</p>
    <p>Unger: {{ pageText[animalID].YoungMin }} - {{ pageText[animalID].YoungMax }}</p>
  </article>
    <button type="button" (click)="reDirectToEdit()">Redigere</button>
</section>

<ng-template #loading>
  <h2>Loading Data</h2>
</ng-template>
