.New_Aktivit {
  position: absolute;
  top: 2.5%;
  left: 20%;
  z-index: 100;
  padding-top: 0;
  margin: 0;
}

.New_Aktivit button {
  margin-left: 15px;
  color: white;
  background-color: #5e6142;
  border: solid;
  border-color: #5e6142;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

}

h1 {
    font-size: 32px; /* Større end h2 */
  }

  h2 {
    font-size: 24px;
  }

  p{
    padding-top: 10px;
    padding-bottom: 10px;
  }
.content-wrapper {
    margin-left: 300px; /* Giver plads til sidebaren */
    position: relative; /* Sørger for, at indholdet placeres korrekt */
}


.side-by-side {
  display: grid;
  grid-template-columns: 1fr 1fr; /* To kolonner med lige bredde */
  gap: 20px; /* Afstand mellem kolonner */
  margin-left: 300px; /* Giver plads til sidebaren */
}

.scrollbar-wrapper{
  margin-top: 30px;
  width: 470px;
  height: 550px;
  position: relative;
  background: transparent;
}

.scrollable-container {
  width: 450px;
  height: 550px;
  background-color: #a0a56e;
  padding-left: 10px;
  padding-top: 20px;
  position: absolute; /* Placeres relativt til .content-wrapper */
  left: 0; /* Starter fra venstre kant af .content-wrapper */
  top: 0;
  margin-right: 20px;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
  border: transparent;
  border-radius: 0px;
}

.scrollbar-wrapper::-webkit-scrollbar{
  width: 12px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.scrollable-container::-webkit-scrollbar-track{
  background-color: #f0f0f0;
}

ul li a {
  color: white;
}

ul li {
  color: white;
}

ul li a button {
  margin-left: 15px;
  color: white;
  background-color: #353723;
  border: solid;
  border-color: #353723;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.scrollable-container::-webkit-scrollbar-track{
  background-color: #f0f0f0;
}

.sticky-header1 {
  position: sticky;
  top: 0;
  background-color: #627363;
  border: transparent;
  border-color: black;
  margin-left: -10px;
  margin-top: -20px;
  padding: 10px;
  color: white;
  z-index: 10;
  text-align: center;
}

.sticky-header2 {
  position: sticky;
  background-color: #627363;
  border: transparent;
  border-color: black;
  margin-left: -10px;
  margin-top: -20px;
  padding: 10px;
  color: white;
  z-index: 10;
  text-align: center;
}
