<app-sidebar></app-sidebar>


 <!--style="max-height: 300px; touch-action: pan-up;pan-down; overflow: auto; background-color: #f0f0f0; padding: 20px;"-->
  <!--<div class="scrollable-container" style="max-width: 100%; width: 300px; height: 400px; touch-action: pan-up; overflow-y: auto; background-color: #f0f0f0; padding: 20px;">
  <section>
    <article>
      <h1>Events for i dag</h1>
        <li>Event 1 description</li>
      <p></p>
    </article>
    <article>
        <li>Event 2 description</li>
      <p></p>
    </article>
    <article>
        <li>Event 3 description</li>
      <p></p>
    </article>
    <article>
        <li>Event 4 description</li>
      <p></p>
    </article>
    </section>
</div>-->

<!--<div>
    <section>
      <article>
        <h1>Events for i dag</h1>
        <li>Event 1 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 2 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 3 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 4 description</li>
        <p></p>
      </article>
    </section>
  </div>-->
<div class="content-wrapper">
<div class="New_Aktivit">
  <button (click)="reDirectToCreateNewEvent()">Nye Aktivitet</button>
</div>
  <div class="side-by-side">
    <div class="scrollable-container">
        <!-- Indhold<section style="width: 100%; width: 800px; height: 400px; touch-action: pan-up; overflow-y: auto; background-color: #f0f0f0; padding: 20px;"> -->
          <section>
        <h1 class="sticky-header">Dagens Aktiviteter</h1>
        <ul>
          <article *ngFor="let event of eventsPageTextTodayEventsOrdered; let i = index">
            <li>
              <a [routerLink]="['/Events-Info']" [queryParams]="{ id: eventsPageTextTodayEventsOrdered[i].ID-1}">{{ eventsPageTextTodayEventsOrdered[i].Name }} kl: {{ eventsPageTextTodayEventsOrdered[i].StartTime }}</a>
            </li><br>

          </article>
        </ul>
    </section>
    </div>
    <div class="scrollable-container">
      <!-- Indhold til anden container -->
      <!-- <section style="width: 100%; width: 800px; height: 400px; touch-action: pan-up; overflow-y: auto; background-color: #f0f0f0; padding: 20px;"> -->
        <section>
        <h1 class="sticky-header">Opkommende Aktiviteter</h1>
        <ul>
          <article *ngFor="let event of eventsPageTextUpcomingEventsOrdered; let i = index">
            <li>
              <a [routerLink]="['/Events-Info']" [queryParams]="{ id: eventsPageTextUpcomingEventsOrdered[i].ID}">{{ eventsPageTextUpcomingEventsOrdered[i].Name }} Dato: {{eventsPageTextUpcomingEventsOrdered[i].Dato}} <button>Slet</button> </a>
            </li><br>

          </article>
        </ul>
      </section>
    </div>
   <div>
</div>

<!--use this one if the other one does not fufill the our wish's--><!--den øverste event box-->
  <!--<div class="scrollable-container">
    <section style="width: 100%; width: 800px; height: 400px; touch-action: pan-up; overflow-y: auto; background-color: #f0f0f0; padding: 20px;">
      <article>
        <h1>Events for i dag</h1>
        <li>Event 1 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 2 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 3 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 4 description</li>
        <p></p>
      </article>
    </section>
  </div>-->

  <!--den nederste event box-->

  <!--<div>
    <section>
      <article>
        <h1>Events for i dag</h1>
        <li>Event 1 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 2 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 3 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 4 description</li>
        <p></p>
      </article>
    </section>
  </div>-->

 <!-- <div class="side-by-side">
    <section class="scrollable-container">
      <article>
        <h1>Events for i dag</h1>
        <li>Event 1 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 2 description</li>
        <p></p>
      </article>
    </section>

    <section class="two-column-layout">
      <article>
        <h1>Kommende Events</h1>
        <li>Event 3 description</li>
        <p></p>
      </article>
      <article>
        <li>Event 4 description</li>
        <p></p>
      </article>
    </section>
  </div>-->
