<div class="sidebar" [class.open]="IsOpen">

  <img src="Logos/Zoodex Admin Logo White Trans.png">

  <ul *ngIf="userIsAdmin; else noAdmin" >
    <li><a (click)="navigateTo('/Dashboard')">Dashboard</a></li>
    <li><a (click)="navigateTo('/Events')">Events</a></li>
    <li><a (click)="navigateTo('/Dyr')">Dyr</a></li>
    <li><a (click)="navigateTo('/Kalender')">Kalender</a></li>
    <li><a (click)="navigateTo('/Personale')">Personale</a></li>
    <li><a (click)="navigateTo('/Indstillinger')">Indstillinger</a></li>
    <li><a (click)="navigateTo('/Profile')">Profile</a></li>
    <li><a (click)="navigateTo('/Admin')">Admin</a></li>
    <li><a (click)="navigateTo('')">Log Ud</a></li>
  </ul>
</div>

<ng-template #noAdmin>
  <ul>
    <li><a (click)="navigateTo('/Dashboard')">Dashboard</a></li>
    <li><a (click)="navigateTo('/Events')">Events</a></li>
    <li><a (click)="navigateTo('/Dyr')">Dyr</a></li>
    <li><a (click)="navigateTo('/Kalender')">Kalender</a></li>
    <li><a (click)="navigateTo('/Personale')">Personale</a></li>
    <li><a (click)="navigateTo('/Indstillinger')">Indstillinger</a></li>
    <li><a (click)="navigateTo('/Profile')">Profile</a></li>
    <li><a (click)="navigateTo('')">Log Ud</a></li>
  </ul>
</ng-template>
