<div class="sidebar" [class.open]="IsOpen">
  <ul>
    <li><a (click)="navigateTo('/Dashboard')">Dashboard</a></li>
    <li><a (click)="navigateTo('/Events')">Events</a></li>
    <li><a (click)="navigateTo('/Dyr')">Dyr</a></li>
    <li><a (click)="navigateTo('/Kalender')">Kalender</a></li>
    <li><a (click)="navigateTo('/Personale')">Personale</a></li>
    <li><a (click)="navigateTo('/Beskeder')">Beskeder</a></li>
    <li><a (click)="navigateTo('/Indstillinger')">Indstillinger</a></li>
    <li><a (click)="navigateTo('/Profile')">Profile</a></li>
    <li><a (click)="navigateTo('')">Log Ud</a></li>
  </ul>
</div>
