<app-sidebar></app-sidebar>

<section *ngIf="isDataReady; else loading">
  <article>
    <form (ngSubmit)="submitForm()" #myForm="ngForm">
      <label for="Name">Navn: </label>
      <input type="text" [(ngModel)]='pageText[animalID].Name' id="Name" name="Name" required><br>
      <label for="Type">Type: </label>
      <input type="text" [(ngModel)]='pageText[animalID].Type' id="Type" name="Type" required><br>
      <label for="Description">Beskrivelse: </label>
      <input type="text" [(ngModel)]='pageText[animalID].Description' id="Description" name="Description" required><br>
      <label for="Personality">Personlighed: </label>
      <input type="text" [(ngModel)]='pageText[animalID].Personality' id="Personality" name="Personality" required><br>
      <label for="WeightMaleMin">Vægt Han Minimun: </label>
      <input type="number" [(ngModel)]='pageText[animalID].WeightMaleMin' id="WeightMaleMin" name="WeightMaleMin" required><br>
      <label for="WeightMaleMax">Vægt Han Maksimum: </label>
      <input type="number" [(ngModel)]='pageText[animalID].WeightMaleMax' id="WeightMaleMax" name="WeightMaleMax" required><br>
      <label for="WeightFemaleMin">Vægt Hun Minimun: </label>
      <input type="number" [(ngModel)]='pageText[animalID].WeightFemaleMin' id="WeightFemaleMin" name="WeightFemaleMin" required><br>
      <label for="WeightFemaleMax">Vægt Hun Maksimum: </label>
      <input type="number" [(ngModel)]='pageText[animalID].WeightFemaleMax' id="WeightFemaleMax" name="WeightFemaleMax" required><br>
      <label for="Height">Højde: </label>
      <input type="number" [(ngModel)]='pageText[animalID].Height' id="Height" name="Height" required><br>
      <label for="Speed">Hastighed (km/t): </label>
      <input type="number" [(ngModel)]='pageText[animalID].Speed' id="Speed" name="Speed" required><br>
      <label for="YoungMin">Unger Minimun: </label>
      <input type="number" [(ngModel)]='pageText[animalID].YoungMin' id="YoungMin" name="YoungMin" required><br>
      <label for="YoungMax">Unger Maksimum: </label>
      <input type="number" [(ngModel)]='pageText[animalID].YoungMax' id="YoungMax" name="YoungMax" required><br>
      <input type="hidden" [(ngModel)]='pageText[animalID].In_Zoo' id="In_Zoo" name="In_Zoo" required><br>
      <input type="submit" id="submitButton" value="Gem"><br>
    </form>

  </article>
</section>

<ng-template #loading>
  <h2>Loading Data</h2>
</ng-template>
