<app-sidebar></app-sidebar>

<section *ngIf="isDataReady; else loading">
  <article *ngIf="isDyrData; else DyrArkiv">
    <form (ngSubmit)="submitForm()" #myForm="ngForm">
      <div class="form-row">
        <label for="DataSet">Mappe:</label>
        <input type="text" [(ngModel)]='dyrPageText[animalID].DataSet' id="DataSet" name="DataSet" readonly><br>
      </div>
      <div class="form-row">
        <label for="Name">Navn: </label>
        <input type="text" [(ngModel)]='dyrPageText[animalID].Name' id="Name" name="Name" required><br>
      </div>
      <div class="form-row">
        <label for="Type">Type: </label>
        <input type="text" [(ngModel)]='dyrPageText[animalID].Type' id="Type" name="Type" required><br>
      </div>
      <div class="form-row">
        <label for="Description">Beskrivelse: </label>
        <textarea [(ngModel)]='dyrPageText[animalID].Description' id="Description" name="Description" required rows="4"></textarea><br>
      </div>
      <div class="form-row">
        <label for="Personality">Personlighed: </label>
        <input type="text" [(ngModel)]='dyrPageText[animalID].Personality' id="Personality" name="Personality" required><br>
      </div>
      <div class="form-row">
        <label for="WeightMaleMin">Vægt Han Minimun: </label>
        <input type="number" [(ngModel)]='dyrPageText[animalID].WeightMaleMin' id="WeightMaleMin" name="WeightMaleMin" required><br>
      </div>
      <div class="form-row">
        <label for="WeightMaleMax">Vægt Han Maksimum: </label>
        <input type="number" [(ngModel)]='dyrPageText[animalID].WeightMaleMax' id="WeightMaleMax" name="WeightMaleMax" required><br>
      </div>
      <div class="form-row">
        <label for="WeightFemaleMin">Vægt Hun Minimun: </label>
        <input type="number" [(ngModel)]='dyrPageText[animalID].WeightFemaleMin' id="WeightFemaleMin" name="WeightFemaleMin" required><br>
      </div>
      <div class="form-row">
        <label for="WeightFemaleMax">Vægt Hun Maksimum: </label>
        <input type="number" [(ngModel)]='dyrPageText[animalID].WeightFemaleMax' id="WeightFemaleMax" name="WeightFemaleMax" required><br>
      </div>
      <div class="form-row">
        <label for="Height">Højde: </label>
        <input type="number" [(ngModel)]='dyrPageText[animalID].Height' id="Height" name="Height" required><br>
      </div>
      <div class="form-row">
        <label for="Speed">Hastighed (km/t): </label>
        <input type="number" [(ngModel)]='dyrPageText[animalID].Speed' id="Speed" name="Speed" required><br>
      </div>
      <div class="form-row">
        <label for="YoungMin">Unger Minimun: </label>
        <input type="number" [(ngModel)]='dyrPageText[animalID].YoungMin' id="YoungMin" name="YoungMin" required><br>
      </div>
      <div class="form-row">
        <label for="YoungMax">Unger Maksimum: </label>
        <input type="number" [(ngModel)]='dyrPageText[animalID].YoungMax' id="YoungMax" name="YoungMax" required><br>
      </div>
      <input type="submit" id="submitButton" value="Gem Ændringer"><br>
    </form>
    </article>
    <button type="button" (click)="deleteData()">Slet fra Database</button><br>
    <button type="button" (click)="moveData()">Flyt til Arkiv</button><br>
    <button type="button" (click)="retriveData()">Hent fra Arkiv</button><br>
    <button type="button" (click)="reDirectToInfo()">Færdig</button><br>
</section>

<ng-template #DyrArkiv>
  <form (ngSubmit)="submitForm()" #myForm="ngForm">
    <div class="form-row">
      <label for="DataSet">Mappe: </label>
      <input type="text" [(ngModel)]='dyrArkivPageText[animalID].DataSet' id="DataSet" name = "DataSet" readonly><br>
    </div>
    <div class="form-row">
      <label for=""Name>Nanv: </label>
      <input type="text" [(ngModel)]='dyrArkivPageText[animalID].Name' id="Name" name="Name" required><br>
    </div>
    <div class="form-row">
      <label for="Type">Type: </label>
      <input type="text" [(ngModel)]='dyrArkivPageText[animalID].Type' id="Type" name="Type" required><br>
    </div>
    <div class="form-row">
      <label for="Description">Beskrivelse: </label>
      <input type="text" [(ngModel)]='dyrArkivPageText[animalID].Description' id="Description" name="Description" required><br>
    </div>
    <div class="form-row">
      <label for="Personality">Personlighed: </label>
      <input type="text" [(ngModel)]='dyrArkivPageText[animalID].Personality' id="Personality" name="Personality" required><br>
    </div>
    <div class="form-row">
      <label for="WeightMaleMin">Vægt Han Minimun: </label>
      <input type="number" [(ngModel)]='dyrArkivPageText[animalID].WeightMaleMin' id="WeightMaleMin" name="WeightMaleMin" required><br>
    </div>
    <div class="form-row">
      <label for="WeightMaleMax">Vægt Han Maksimum: </label>
      <input type="number" [(ngModel)]='dyrArkivPageText[animalID].WeightMaleMax' id="WeightMaleMax" name="WeightMaleMax" required><br>
    </div>
    <div class="form-row">
      <label for="WeightFemaleMin">Vægt Hun Minimun: </label>
      <input type="number" [(ngModel)]='dyrArkivPageText[animalID].WeightFemaleMin' id="WeightFemaleMin" Name="WeightFemaleMin" required><br>
    </div>
    <div class="form-row">
      <label for="WeightFemaleMax">Vægt Hun Maksimum: </label>
      <input type="number" [(ngModel)]='dyrArkivPageText[animalID].WeightFemaleMax' id="WeightFemaleMax" name="WeightFemaleMax" required><br>
    </div>
    <div class="form-row">
      <label for="Height">Højde: </label>
      <input type="number" [(ngModel)]='dyrArkivPageText[animalID].Height' id="Height" name="Height"><br>
    </div>
    <div class="form-row">
      <label for="Speed">Hastighed (km/t): </label>
      <input type="number" [(ngModel)]='dyrArkivPageText[animalID].Speed' id="Speed" name="Speed" required><br>
    </div>
    <div class="form-row">
      <label for="YoungMin">Uunger Minimun: </label>
      <input type="number" [(ngModel)]='dyrArkivPageText[animalID].YoungMin' id="YoungMin" name="YoungMin" required><br>
    </div>
    <div class="form-row">
      <label for="YoungMax">Unger Maksimum: </label>
      <input type="number" [(ngModel)]='dyrArkivPageText[animalID].YoungMax' id="YoungMax" name="YoungMax" required><br>
    </div>
    <input type="submit" id="submitButton" value="Gem Ændringer"><br>
  </form>
</ng-template>



<ng-template #loading>
  <h2>Loading Data</h2>
</ng-template>
