<app-sidebar></app-sidebar>
<section *ngIf="isDataReady; else loading">
  <article>
    <table>
      <thead>
        <tr>
          <th>Fornavn</th>
          <th>Efternavn</th>
          <th>Mail</th>
          <th>Afdeling</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of getKeys(pageText.PERSONALE)">
          <td>{{ pageText.PERSONALE[key].FirstName }}</td>
          <td>{{ pageText.PERSONALE[key].LastName }}</td>
          <td>{{ pageText.PERSONALE[key].Mail }}</td>
          <td>{{ pageText.PERSONALE[key].Job }}</td>
        </tr>
    </table>
  </article>
</section>

<ng-template #loading>
  <h2>Loading Data</h2>
</ng-template>
